*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' ,sans-serif;
}

body{
  background-color: #000000;
}

.container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  align-items: center;
  text-align: center;
  font-size: 25px;
  background-color: slateblue;
  height: 14vh;
  color: white;
}

.header h6{
  color: black;
}

.calc{
  padding: 20px;
  border-radius: 20px;
  background-color: transparent;
  border: none;
  box-shadow: -1px -1px 10px 10px rgb(97, 162, 190);
}

#input{
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  height: 100px;
  border: none;
  background: transparent;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

button{
border: none;
color: #fff;
margin: 10px;
height: 80px;
width: 80px;
cursor: pointer;
border-radius: 50%;
background: transparent;
box-shadow: 6px 6px 10px rgb(97, 190, 113),
-6px -6px 10px rgb(97, 190, 113);
}